.services {
    padding-left: 80px;
    max-width: 300px;
    position: relative;
  }
  .services__img {
    width: 32px;
    height: 32px;
    fill: #95e1d3;
    position: absolute;
    left: 24px;
    top: 16px;
  }
  .services__title {
    text-transform: uppercase;
    color: #333333;
    font-family: "montserrat";
    font-size: 14px;
    line-height: 3.2;
  }
  .services__text {
    color: #999999;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 24px;
  }


    