$main-color: #fff;
$dark-color: #000;
$primary-color: #333;
$hover-color: #f38181;
$header-hover-color: #fce38a;
$icons-back-color: #f38181;
$borders-color: #7d7b7b;
$red: #e02f2f;
$svg-color: #95e1d3;
$font-kaushan: 'Kaushan Script';
$font-montserrat: 'montserrat';
$font-robot: 'Roboto';
